* {
    margin: 0;
}

@font-face {
    font-family: "Lato-Regular";
    src: url(../assets/fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: "Roboto-Regular";
    src: url(../assets/fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: "Lato-Bold";
    src: url(../assets/fonts/Lato-Bold.ttf);
}

body {
    font-family: "Lato-Regular", sans-serif;
}

header {
    margin: 2rem;
}

.logo {
    display: flex;
    justify-content: center;
}

.logo-img {
    width: 30%;
}

.search-container {
    margin: 0 4rem;
}

.search-form { 
    height: 3rem;
    width: 100%;
}

.search-bar {
    display: flex;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    background-color: #E7E7E7;
    border-radius: 0.3rem;
    padding: 0 1rem;
}

#search { 
    flex: 1;
    margin-right: 1rem;
    border: none;
    background-color: #E7E7E7;
    font-family: "Lato-Regular", sans-serif;
    font-size: 1.1rem;
}

#search::placeholder {
    color: #999999;
    font-family: "Lato-Regular", sans-serif;
    font-size: 1.1rem;
}

.search-button {
    border: none;
    background-color: #E7E7E7;
}

.search-span {
    font-size: x-large;
}

.tags-container {
    display: flex;
    margin: 2rem 4rem;
    gap: 1rem;
}

.fa-circle-xmark {
    border: none;
    color: white;
    font-size: larger;
    align-self: center;
    margin-left: 0.5rem;
}

.tag {
    display: flex;
    padding: 1rem 2rem;
    border-radius: 0.3rem;
    color: white;
    font-family: "Lato-Bold", sans-serif;
    font-size: 1rem;
}

.buttons-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    margin: 2rem 4rem;
    position: relative;
}

.popup-container {
    max-height: 400px;
}

.popup-placeholder {
    width: 0;
    flex-grow: 0;
    transition: width 0.3s ease;
}

.popup {
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    font-family: "Lato-Regular", sans-serif;
    font-size: 1.1rem;
    position: absolute;
    top: 0;  
    color: #FFFFFF;
    border-radius: 0.3rem;
    width: 55%;
    max-height: 400px;
    overflow-y: auto;
  }

.ingredients, .ingredients-button, .tag.ingredients{
    background-color: #3282F7;
} 

.appliance, .appliance-button, .tag.appliance {
    background-color: #68D9A4;
}

.utensils, .utensils-button, .tag.utensils {
    background-color: #ED6454;
}

.popup-visible {
    display: flex;
    flex-direction: column;
}

.popup-search-bar-content {
    display: flex;
    gap: 1rem;
    padding: 1rem;
}

.popup-search-bar {
    font-family: "Lato-Bold", sans-serif;
    font-size: 1.1rem;
    width: 97%;
    border: none;
    border-radius: 0.3rem;
    outline: none;
    padding: 1rem;
    color: white;
}

.popup-search-bar::placeholder {
    color: #999999;
}

.popup-search-bar:focus {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

.fa-chevron-up {
    align-self: center;
    color: white;
}

.popup-list {
    list-style-type: none;
    padding: 0rem 1rem 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
}

.popup-item {
    padding: 0.3rem 1.5rem;
    cursor: pointer;
}

.tag-button {  
    padding: 1.5rem 1rem; 
    border-radius: 0.3rem; 
    margin-right: 1rem; 
}

.tag-button button {
    border: none;
    color: white;
    font-family: "Lato-Bold", sans-serif;
    font-size: 1.1rem;
}

.hidden-tag-button {
    display: none;
}

.fa-chevron-down {
    color: white;
    margin-left: 1rem;
}

.recipes-container {
    margin: 4rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
    grid-gap: 3rem;
}

.recipe-card {
    display: flex;
    flex-direction: column;
}

.recipe-img {
    width: 100%;
    aspect-ratio: 2/1;
    box-sizing: border-box;
    padding: 5rem;
    background-color: #C7BEBE;
    border-radius: 0.3rem 0.3rem 0 0;
}

.recipe-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 1rem 1rem 3rem;
    background-color: #E7E7E7;
}

.recipe-presentation {
    display: flex;
    justify-content: space-between;
}

.recipe-title {
    font-family: "Lato-Regular", sans-serif;
    font-size: 1.1rem;
    max-width: 80%;
}

.fa-clock {
    align-self: flex-start;
    margin-top: 0.2rem;
}

.recipe-time-content {
    display: flex;
}

.recipe-time {
    font-family: "Lato-Bold", sans-serif;
    font-size: 1.1rem;
    margin-left: 0.3rem;
    align-self: flex-start;
}

.recipe-ingredients-content {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
}

.recipe-ingredients { 
    flex: 1;
    max-width: 50%;
}

.recipe-list {
    list-style-type: none;
    padding-left: 0;
    font-family: "Lato-Regular", sans-serif;
    font-size: 0.7rem;
}

.recipe-description {
    flex: 1;
    max-width: 45%;
}

.recipe-description p {
    font-family: "Roboto-Regular", sans-serif;
    font-size: 0.7rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
}

@media screen and (max-width: 900px) {
    
    .logo-img {
        width: 50%;
    }

    .search-container {
        margin: 0 3rem;
    }

    .buttons-container {
        margin: 1rem;
        /* display: flex;
        flex-direction: column;
        align-items: center;
        position: relative; */
    }

    .tag-button {
        width: 20%;
        margin: auto;
    }

    .recipes-container {
        margin: 3rem;
        grid-template-columns: 1fr;
    }

    .popup {
        width: 45%;
    }

    .popup-search-bar {
        width: 85%;
    }
  }